{% extends 'base.html' %}
{% block contenido %}

<div class="container mt4">
    <h2 class="mb-4 mt-4">
        {% if form.instance.id_producto %}
        Editar Productos
        {% else %}
        Nueva Productos
        {% endif %}
    </h2>
</div>

<form method="post">
    {% csrf_token %}

    {% for campo in form %}
    <div class="mb-3">
        {{ campo.label_tag }}
        {{ campo }}
        {% if campo.errors %}
        <div class="text-danger">
            {{ campo.errors }}
        </div>
        {% endif %}
    </div>
    {% endfor %}

    <div class="d-flex justify-content-between">
        <a href="{% url 'productos' %}" class="btn btn-secondary">Volver</a>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>

</form>

{% endblock %}